*{
    background-color: #315659;
}
/* About CSS---------------------------------------------------- */

.about{
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: 
    ". about-title about-title ."
    ". about-text about-photo ."
    ". about-text about-photo ."    ;
    grid-gap: 2rem;                 
}

#about-title{
    grid-area: about-title;
}
#about-text{
    grid-area: about-text;
    margin-top: 0px;
    margin-right: 20px;
    text-overflow: inherit;
}

#about-photo{
    grid-area: about-photo;
    margin-top: 20px;
}

/* HomePage CSS----------------------------------------------- */

.App{
    height: 100%;
    position: relative;
    width: 100%;
}
.home-overlay{
    background-image: url(HomeOverlay.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

.overlay{ 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .80s ease;
    background-color: #2978a0;
  }
  
  .App:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #c6e0ff;
    font-size: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #2978a0;
  }

#name{
    color: #bcab79;
    background-color: #2978a0;
    font-weight: 600;
}

/* Header CSS---------------------------------------------------- */
#button {
    background-color: #315659; 
    border: none;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 18px;
    color: #c6e0ff;
    padding: 10px 25px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    border-radius: 10px;
    margin-top: 50px;
  }
  #button:hover {
    background-color: #253031;
    opacity: 50%;
    transition: all .5s ease-out;
    color: #2978a0;
  }

  #header-buttons{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
  }
  #logo-photo{
      float: left;
      margin-top: 20px;
      padding-left: 15px;
           
  }

  /* Portfolio CSS---------------------------------------------- */

  .portfolio{
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: 5% 35% 15% 35% 10%;
    grid-template-rows: 10% 30% 30% 30% ;
    grid-template-areas: 
    ". title title title ."
    ". geovermont . yelp ."
    ". remock . tictactoe ."
    ". . zork . ."                     
}

.portfolio h1{
font-size: 40px;
color: #bcab79;
font-weight: 700;
}

.portfolio h2{
    font-size: 14px;
    color: #bcab79;
}
.portfolio h3{
    font-size: 20px;
    color: #bcab79;
}

.portfolio h4{
    font-size: 12px;
    color: #bcab79;
}


#title{
    grid-area: title;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    
}
#geovermont{
    grid-area: geovermont;
    text-align: center;
}
#yelp{
    grid-area: yelp;
    text-align: center;
    
}
#remock{
    grid-area: remock;
    text-align: center;
    
   
}
#tictactoe{
    grid-area: tictactoe;
    text-align: center;
  
}
#zork{
    grid-area: zork;
    text-align: center;
    padding: 0;
    place-self: center;
   
}
.portfolio img{
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    width: 500px;
    height: 350px;
}

.portfolio #zork img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
    
}